---
import MainLayout from '~/layouts/MainLayout.astro'

import Coordinates from '~/reference/Coordinates.astro'
import Points from '~/reference/Points.astro'
import Lines from '~/reference/Lines.astro'
---

<MainLayout>
  <hgroup class="mb-xl">
    <h1 class="text-3">Programming Interactivity</h1>
  </hgroup>

  <Coordinates />
  <Points />
  <Lines />
</MainLayout>
