---
import CodeSnippet from '~/components/CodeSnippet.astro'
import Diagram from '~/components/Diagram.astro'
import Section from '~/components/Section.astro'
import Trigger from '~/components/Trigger.astro'
---

<Section name="lines">
  <h3>Lines</h3>

  <div
    class="sidebar"
    data-direction="rtl"
    style="--sidebar-target-width: 400px"
  >
    <div class="prose flow">
      <p>
        To draw a line specify the coordinates for its start and end points. Use
        {' '}
        <code>line(x1, y1, x2, y2)</code>, where
        {' '}
        <code>x1</code>,
        {' '}
        <code>y1</code>
        {' '}
        are the coordinates of the
        {' '}
        <Trigger target="start" color="blue">start point</Trigger>
        {' '}
        and
        {' '}
        <code>x2</code>,
        {' '}
        <code>y2</code>
        {' '}
        are the coordinates of the
        {' '}
        <Trigger target="end" color="blue">end point</Trigger>.
      </p>

      <CodeSnippet
        code="line(125, 375, 375, 125)"
        components={[
          {
            component: 'scrubber',
            position: {line: 1, start: 6, end: 9},
            options: {name: 'x1', min: 0, max: 500, step: 10, target: 'start'}
          },
          {
            component: 'scrubber',
            position: {line: 1, start: 11, end: 14},
            options: {name: 'y1', min: 0, max: 500, step: 10, target: 'start'}
          },
          {
            component: 'scrubber',
            position: {line: 1, start: 16, end: 19},
            options: {name: 'x2', min: 0, max: 500, step: 10, target: 'end'}
          },
          {
            component: 'scrubber',
            position: {line: 1, start: 21, end: 24},
            options: {name: 'y2', min: 0, max: 500, step: 10, target: 'end'}
          }
        ]}
      />
    </div>

    <Diagram grid>
      <line
        class="stroke-yellow stroke-4"
        data-target="line"
        x1="125"
        y1="375"
        x2="375"
        y2="125"
      >
      </line>
      <circle
        class="stroke-blue fill-blue cursor-grab drop-shadow-xl"
        data-target="start"
        cx={125}
        cy={375}
        r={10}
      >
      </circle>
      <circle
        class="stroke-blue fill-blue cursor-grab drop-shadow-xl"
        data-target="end"
        cx={375}
        cy={125}
        r={10}
      >
      </circle>
    </Diagram>
  </div>
</Section>

<script>
  // @ts-nocheck
  import {animate, drag, hover, svgPosition} from '~/scripts/base.js'
  import {registerSection} from '~/scripts/main.js'
  import {constrain} from '~/scripts/utilities.js'

  function lines($section) {
    const model = $section.model

    const $svg = $section.$('svg')
    const $start = $section.$("circle[data-target='start']")
    const $end = $section.$("circle[data-target='end']")
    const $line = $section.$("line[data-target='line']")

    model.x1 = 125
    model.y1 = 375
    model.x2 = 375
    model.y2 = 125

    model.watch(() => {
      $start.attr('cx', model.x1).attr('cy', model.y1)
      $end.attr('cx', model.x2).attr('cy', model.y2)
      $line
        .attr('x1', model.x1)
        .attr('y1', model.y1)
        .attr('x2', model.x2)
        .attr('y2', model.y2)
    })

    hover($start, {
      enter() {
        $start.class('focus', true)
      },
      exit() {
        $start.class('focus', false)
      }
    })

    hover($end, {
      enter() {
        $end.class('focus', true)
      },
      exit() {
        $end.class('focus', false)
      }
    })

    drag($start, {
      move(event) {
        let point = svgPosition(event, $svg)
        let x1 = constrain(Math.round(point.x), 0, 500)
        let y1 = constrain(Math.round(point.y), 0, 500)
        model.assign({x1, y1})
      }
    })
    drag($end, {
      move(event) {
        let point = svgPosition(event, $svg)
        let x2 = constrain(Math.round(point.x), 0, 500)
        let y2 = constrain(Math.round(point.y), 0, 500)
        model.assign({x2, y2})
      }
    })
  }

  registerSection('lines', lines)
</script>
