---
import Section from '~/components/Section.astro'
---

<Section name="points">
  <h3>Points</h3>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores esse
    inventore sequi quo accusamus, quod veniam repellendus similique sed libero
    a! At, culpa non. Inventore minima praesentium animi officia debitis!
  </p>
</Section>
