---
import CodeSnippet from '~/components/CodeSnippet.astro'
import Diagram from '~/components/Diagram.astro'
import Section from '~/components/Section.astro'
---

<Section name="points">
  <h3>Points</h3>

  <div
    class="sidebar"
    data-direction="rtl"
    style="--sidebar-target-width: 400px"
  >
    <div class="prose flow">
      <p>
        You can draw a point with <code>point(x, y)</code>, where x is the
        x-coordinate and y is the y-coordinate.
      </p>

      <CodeSnippet
        code="point(250, 250)"
        components={[
          {
            component: 'scrubber',
            position: {line: 1, start: 7, end: 10},
            options: {name: 'x', min: 0, max: 500, step: 10, target: 'point'}
          },
          {
            component: 'scrubber',
            position: {line: 1, start: 12, end: 15},
            options: {name: 'y', min: 0, max: 500, step: 10, target: 'point'}
          }
        ]}
      />
    </div>

    <Diagram grid>
      <line
        class="guide x stroke-1 stroke-yellow"
        x1={250}
        y1={0}
        x2={250}
        y2={500}
      >
      </line>
      <line
        class="guide y stroke-1 stroke-yellow"
        x1={0}
        y1={250}
        x2={500}
        y2={250}
      >
      </line>
      <circle
        class="stroke-blue fill-blue cursor-grab drop-shadow-xl"
        data-target="point"
        cx={250}
        cy={250}
        r={10}
      >
      </circle>
    </Diagram>
  </div>
</Section>

<script>
  // @ts-nocheck
  import {animate, drag, hover, svgPosition} from '~/scripts/base.js'
  import {registerSection} from '~/scripts/main.js'
  import {constrain} from '~/scripts/utilities.js'

  function points($section) {
    const model = $section.model

    const $svg = $section.$('svg')
    const $circle = $section.$('circle')
    const $xGuide = $section.$('line.guide.x')
    const $yGuide = $section.$('line.guide.y')

    model.x = 250
    model.y = 250

    model.watch(() => {
      $circle.attr('cx', model.x).attr('cy', model.y)
      $xGuide.attr('x1', model.x).attr('x2', model.x)
      $yGuide.attr('y1', model.y).attr('y2', model.y)
    })

    hover($circle, {
      enter() {
        $circle.class('focus', true)
      },
      exit() {
        $circle.class('focus', false)
      }
    })

    drag($circle, {
      move(event) {
        let point = svgPosition(event, $svg)
        let x = constrain(Math.round(point.x / 10) * 10, 0, 500)
        let y = constrain(Math.round(point.y / 10) * 10, 0, 500)
        model.assign({x, y})
      }
    })
  }

  registerSection('points', points)
</script>
