---
const {name, min = 0, max = 10, step = 1, targets, color} = Astro.props
---

<span
  data-component="scrubber"
  data-options={JSON.stringify({name, min, max, step, targets})}
  class="scrubber"
  style={color && `--color: var(--color-${color})`}
>
  <slot />
</span>
