---
const {name, min = 0, max = 10, step = 1, target, color} = Astro.props
---

<span
  data-component="scrubber"
  data-options={JSON.stringify({name, min, max, step, target})}
  class="scrubber"
  style={color && `--scrubber-color: var(--color-${color})`}
>
  <slot />
</span>
