---
import '~/styles/main.css'
---

<!doctype html>
<!--
  In memory of Santosh Rajan
      who loved to teach
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/programming-for-interactivity/favicon.svg"
    />
    <title>Programming Interactivity</title>
    <script is:inline src="/programming-interactivity/libs/p5.min.js"></script>
    <script is:inline src="/programming-interactivity/libs/p5.sound.min.js"
    ></script>
    <script src="../scripts/main.js"></script>
  </head>
  <body class="my-2xl-3xl">
    <article class="wrapper prose flow">
      <slot />
    </article>
  </body>
</html>
