---
import '~/styles/main.css'
---

<!doctype html>
<!--
  In memory of Santosh Rajan
      who loved to teach
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/programming-for-interactivity/favicon.svg"
    />
    <title>Programming for Interactivity</title>
  </head>
  <body class="my-2xl-3xl">
    <article class="prose container flow">
      <slot />
    </article>
  </body>
</html>
