*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

:target {
  scroll-margin-block: 3ex;
}
